*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/*p, h4, ol {
  visibility: hidden;
}*/

.wild-ass .popup-wild-ass, .ocelot .popup-ocelot, .sea-lion .popup-sea-lion, .giant-panda .popup-giant-panda, .tiger .popup-tiger, .emperor-penguin .popup-penguin  {
  visibility: hidden;
}

.masthead {
  margin: 25px auto 25px auto;
  width: 1200px;
  height: 200px;
  background: linear-gradient(to right, rgba(178, 34, 34, 1), red, rgba(178, 34, 34, 1));
  color: white;
  border-radius: 25px;
  padding: 30px;
}

.map {
  position: relative;
}

.animal {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.animal-big {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.wild-ass {
  width: 120px;
  height: 120px;
  /*padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;*/
  position: absolute;
  top: 400px;
  left: 1000px;
  /*text-align: center;*/
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/*.wild-ass:hover p, .wild-ass:hover h4 {
  display: block;
}*/

.wild-ass:hover .popup-wild-ass {
  visibility: visible;
  width: 440px;
  padding: 20px;
  background-color: rgba(30, 144, 255, 0.75);
  color: white;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  left: 140px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.ocelot {
  width: 120px;
  height: 120px;
  /*padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;*/
  position: absolute;
  top: 510px;
  left: 500px;
  /*text-align: center;*/
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.ocelot:hover .popup-ocelot {
  visibility: visible;
  width: 440px;
  padding: 20px;
  background-color: rgba(30, 144, 255, 0.75);
  color: white;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  left: 140px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/*.ocelot:hover p, .ocelot:hover h4 {
  display: block;
}*/

.sea-lion {
  width: 120px;
  max-height: 120px;
  /*padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;*/
  position: absolute;
  top: 75px;
  left: 220px;
  /*text-align: center;*/
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  /*z-index: 14;*/
}

.sea-lion:hover .popup-sea-lion {
  visibility: visible;
  width: 440px;
  padding: 20px;
  background-color: rgba(30, 144, 255, 0.75);
  color: white;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  left: 140px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/*.sea-lion:hover p, .sea-lion:hover h4 {
  display: block;
}*/

.giant-panda {
  width: 120px;
  height: 120px;
  /*padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;*/
  position: absolute;
  top: 110px;
  left: 1320px;
  /*text-align: center;*/
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  /*z-index: 12;*/
}

.giant-panda:hover .popup-giant-panda {
  visibility: visible;
  width: 440px;
  padding: 20px;
  background-color: rgba(30, 144, 255, 0.75);
  color: white;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  left: 140px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
/*.giant-panda:hover p, .giant-panda:hover h4 {
  display: block;
}*/

.tiger {
  width: 120px;
  height: 120px;
  /*padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;*/
  position: absolute;
  top: 190px;
  left: 1150px;
  /*text-align: center;*/
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.tiger:hover .popup-tiger {
  visibility: visible;
  width: 440px;
  padding: 20px;
  background-color: rgba(30, 144, 255, 0.75);
  color: white;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  left: 140px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
/*.tiger:hover p, .tiger:hover h4 {
  display: block;
}*/

.emperor-penguin {
  width: 120px;
  height: 120px;
  /*padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;*/
  position: absolute;
  top: 750px;
  left: 800px;
  /*text-align: center;*/
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.emperor-penguin:hover .popup-penguin {
  visibility: visible;
  width: 440px;
  padding: 20px;
  background-color: rgba(30, 144, 255, 0.75);
  color: white;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  left: 140px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
/*.emperor-penguin:hover p, .emperor-penguin:hover h4 {
  display: block;
}*/

.gray-wolf {
  width: 140px;
  padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 25px;
  left: 420px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.gray-wolf:hover p, .gray-wolf:hover h4 {
  display: block;
}

.european-bison {
  width: 140px;
  padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 75px;
  left: 900px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 13;
}

.european-bison:hover p, .european-bison:hover h4 {
  display: block;
}

.chimpanzee {
  width: 140px;
  padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 325px;
  left: 840px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.chimpanzee:hover p, .chimpanzee:hover h4 {
  display: block;
}

.manatee {
  width: 140px;
  padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 250px;
  left: 480px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.manatee:hover p, .manatee:hover h4, .manatee:hover ol {
  display: block;
}

.endangered::after {
  content: "THREATENED!";
  letter-spacing: 2px;
  font-family: monospace;
  display: block;
}

.potoroo {
  width: 140px;
  padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 575px;
  left: 1400px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.potoroo:hover p, .potoroo:hover h4 {
  display: block;
}

.blue-whale {
  width: 140px;
  padding: 10px;
  background-color: rgba(178, 34, 34, 0.75);
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 420px;
  left: 180px;
  text-align: center;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.blue-whale:hover p, .blue-whale:hover h4 {
  display: block;
}
